input {
  margin: 8px 0 10px 0;
  padding: 5px 10px;
  border: 1px solid lightgrey;
}

button {
  margin: 20px 0;
  width: 240px;
  padding: 5px 0;
  border: 1px solid black;
}

button:hover {
  background-color: black;
  color: yellow
}